body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background: #007bff;
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 8px 8px 0 0;
}

h1, h2 {
    margin: 0;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

section {
    margin-bottom: 30px; /* Aumentado para mayor separación entre secciones */
}

label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea,
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    transition: border-color 0.3s;
}

input:focus, textarea:focus, select:focus {
    border-color: #007bff;
    outline: none;
}

textarea {
    resize: vertical;
}

button {
    background: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s;
    margin-top: 15px; /* Aumentado para mayor separación entre botones y contenido superior */
}

button:hover {
    background: #0056b3;
}

footer {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #666;
}

#map {
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 20px;
}

/* Estilos para la alerta */
.alert {
    padding: 15px;
    margin: 10px 0;
    border-radius: 4px;
}

.alert.success {
    background-color: #d4edda;
    color: #155724;
}

.alert.error {
    background-color: #f8d7da;
    color: #721c24;
}

/* Estilos para la calificación */
#estrellaContainer {
    cursor: pointer;
    font-size: 24px;
}

.estrella {
    color: #ccc; /* Color por defecto */
    margin-right: 5px;
    transition: color 0.3s;
}

.estrella.selected {
    color: gold; /* Color para las estrellas seleccionadas */
}

#calificacion {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    background: #f9f9f9;
    margin-top: 20px;
}
